aiohttp==1.0.5
appdirs==1.4.2
async-timeout==1.1.0
chardet==2.3.0
demjson==2.2.4
discord.py==0.13.0
multidict==2.1.4
nltk==3.2.2
numpy==1.12.0
packaging==16.8
pandas==0.19.2
pandas-datareader==0.2.1
ProsperBots==0.0.1
ProsperCommon==0.4.0
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.10
requests==2.13.0
requests-file==1.4.1
six==1.10.0
slackbot==0.4.1
slacker==0.9.42
tinydb==3.2.2
ujson==1.35
websocket-client==0.40.0
websockets==3.2
